.panel.panel-default
  .panel-heading График погашения кредита
  .panel-body
    %p= "Процентная ставка: #{@credit.percent}"
    %p= "Сумма кредита: #{@credit.amount}"
    %p= "Метод погашения: #{@credit.cred_meth}"
  .panel.panel-default
    %table.table
      %thead
        %tr
          %th № месяца
          %th Погашение кредита
          %th Погашение процента %
          %th Общий взнос
          %th Остаток кредита

      %tbody
        - @credit.payments.each_with_index do |payment, i|
          %tr
            %th(scope="row")= i + 1
            %td= payment[:amount]
            %td= payment[:percent]
            %td= payment[:payment]
            %td= payment[:leftover]
  %a(href="/") Вернуться к заполнению формы
