.panel.panel-default
  .panel-heading Payments
  .panel-body
    %p= "Interest Rate: #{@credit.percent}"
    %p= "Loan Amount: #{@credit.amount}"
    %p= "Repayment Method: #{@credit.cred_meth}"
  .panel.panel-default
    %table.table
      %thead
        %tr
          %th # month
          %th Body
          %th Interest %
          %th Payment Amount
          %th Loan Balance

      %tbody
        - @credit.payments.each_with_index do |payment, i|
          %tr
            %th(scope="row")= i + 1
            %td= payment[:amount]
            %td= payment[:percent]
            %td= payment[:payment]
            %td= payment[:leftover]
  %a(href="/") Back to form
